<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
   
</head>
<body>
        <div style="text-align: centerom;">
             |<a href="{%url 'xyz'%}">Home</a> | 
        <a href="{%url 'pqr'%}">Register</a> | 
        <a href="{%url 'lmn'%}">Login</a> |
        <a href="{%url 'about'%}">About</a>|
        <a href="{%url 'contact'%}">Contact</a>|
        </div>
        {%block body_block%}
        {%endblock%}
</body>
</html>