{%extends 'myapp/base.html'%}
{%load  widget_tweaks%}
{%block body_block%}
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header text-center bg-primary text-white">
                        <p class="h2">Register Here</p>
                    </div>
                    <div class="card-body">
                            <form action="" method="POST">
                                {%csrf_token%}
                            
                                 {{form.first_name|attr:"Placeholder : First Name"|add_class:"form-control form-group"}}
                                 {{form.last_name|attr:"Placeholder : Last Name"|add_class:"form-control form-group"}}
                                 {{form.username|attr:"Placeholder : User Name"|add_class:"form-control form-group"}}
                                  {{form.password|attr:"Placeholder : Password"|add_class:"form-control form-group"}}
                                <button class="btn btn-sm  btn-primary">Register</button>
                                <a href="/" class="btn btn-warning btn-sm float-right">Back</a>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}