<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="display-5 text-center text-primary">Student Result</h1>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
                {% if studentlist %}
                      <table class="table table-bordered table-striped table-hover  text-center mt-5">
                        <thead >
                            <tr>
                                <th  class="bg-primary text-white">Student ID</th>
                                <th  class="bg-primary text-white">Student Name</th>
                                <th  class="bg-primary text-white">Student Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for stu in studentlist%}
                                <tr>
                                    <td>{{stu.StudentId}}</td>
                                    <td>{{stu.StudentName}}</td>
                                    <td>{{stu.StudentMarks}}</td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>

                {%else%}
                    <p class="h2 text-danger">Records Not Found</p>
                {%endif%}
            </div>
        </div>
    </div>
</body>
</html>