
{%extends 'myapp/base.html'%}
{%block body_block%}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 ">
                <div class="card mt-5">
                    <div class="card-header bg-primary">
                        <p class="h3  text-white text-center">Login Here</p>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                                {%csrf_token%}
                                {{form.as_p}}
                                <button class="btn btn-sm btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}