<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
    <link rel='stylesheet' href='main.css'>
</head>
<body>
        <h1 style="text-align: center;color:green">Register Page</h1>
         <h1 style="text-align: center;color:blue">ID : {{id}}</h1>
          <h1 style="text-align: center;color:red">Name : {{name}}</h1>
           <h1 style="text-align: center;color:blue">Course Type : {{type}}</h1>
        
</body>
</html>