{% extends 'myapp/base.html' %}
{% load widget_tweaks %}

{% block content_block %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="card mt-5">
                <div class="card-header text-white bg-primary text-center">
                    <p class="h3">Login Here</p>
                </div>

                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}

                        {{ form.username|attr:"placeholder:User Name"|add_class:"form-control form-group" }}
                       

                        {{ form.password|attr:"placeholder:Password"|add_class:"form-control form-group" }}
                        

                        <button type="submit" class="btn btn-primary btn-sm">
                            Login
                        </button>
                        <a href="/" class=" btn btn-sm btn-warning float-right">Back</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}